//colors
$color_user_list: #181818;
$color_white: #fff;
$color_message_list: #e9e9e9;

//fonts
$font_0: MyriadProRegular;

//urls
$url_0: url(../fonts/MyriadProRegular/MyriadProRegular.eot);
$url_1: url(../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix);
$url_2: url(../fonts/MyriadProRegular/MyriadProRegular.woff);
$url_3: url(../fonts/MyriadProRegular/MyriadProRegular.ttf);

@font-face {
  font-family: $font_0;
  src: $url_1 format("embedded-opentype"), $url_2 format("woff"), $url_3 format("truetype");
  font-style: normal;
  font-weight: normal;
}

body {
  height: 100vh;
  background-color: #0E0E0E;
}
img {
  width: 100%;
}

.row {
  width: 83.33%;
  height: 100vh;
  margin: 0 8.33% 0 8.33%;
  #user_list {
    padding: 0;
    width: 22.43%;
    #user_list_well {
      margin: 0;
      padding: 35px 0 0 25px;
      height: 100vh;
      border: none;
      border-radius: 0;
      background-color: #181818;
      #logo {
        width: 40%;
        margin: 0;
      }
      #users {
        margin: 0;
        height: 100vh;
        #user {
          height: 50px;
          background-color: #181818;
          border: none;
          color: #ffffff;
          display: flex;
          #user_avatar {
            width: 50px;
            height: 50px;
            margin: 0;
          }
        }
      }
    }
  }
  #message_list {
    height: 100vh;
    width: 77.56%;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0;
    background-color: #e9e9e9;
    #chat {
      height: 100vh;
      .well {
        width: 72%;
        margin: 35px 25px;
      }
    }
  }  
}

@media screen and (min-width: 300px) and (max-width: 992px)  {
  .row {
    width: 100%;
    margin: 0;
    display: flex;
  }
}